# Terraform
*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform/
.terraform.lock.hcl
terraform.tfvars
*.auto.tfvars

# SSH keys
*.pem
*.key
id_rsa*
*.pub

# Secrets
.env
*.secret

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
